@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root {
    --primary: #141433;
    --secondary: #f7f1e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--primary);
    color: var(--secondary);
    font-family: "Merienda One", cursive;
  }

  nav{
      width: 50vw;
      margin: auto;
      padding: 2rem;
      display: flex;
      justify-content: space-between;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
  
  input {
    margin: 1rem;
  }
  
  button {
    width: 4rem;
  }
  
  button:hover {
    background: black;
    color: white;
  }
